<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductInfo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://trainer-vs/WCFApp/ProductInfo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductInfo"
                contract="ProductInfo.IProductInfo" name="BasicHttpBinding_IProductInfo" />
        </client>
    </system.serviceModel>
</configuration>